* {
    margin: 0;
}

section {
    width: 1080px;
    height: 2160px;
    text-align: center;
}

.splash {
    background: blue;
}

#imagen-splash {
    position: relative;
    top: 550px;
    width: 900px;
    height: 800px;
    background-color: skyblue;
    margin: auto;
}

.home {
    background: whitesmoke;
}

#h1-home {
    position: relative;
    top: 100px;
    font-size: 50px;
}

#imagen-home {
    position: relative;
    top: 500px;
    width: 1080px;
    height: 73%;
    background-color: rgb(110, 1, 212);
    margin: auto;
    border-radius: 0% 0% 0% 0%;
}

.botones-home {
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 5% 5%;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    font-style: oblique;
}

#instrucciones-home {
    position: relative;
    top: 400px;
}

#jugar-home {
    position: relative;
    top: 550px;
}

#creditos-home {
    position: relative;
    top: 700px;
}

.juego {
    background: cornflowerblue;
}

#fondo-juego {
    position: relative;
    top: 1400px;
    border-left: 300px solid darkslateblue;
    border-right: 700px solid transparent;
    border-bottom: 500px solid darkslateblue;
}

#fondo-juego2 {
    position: relative;
    top: 1400px;
    width: 100%;
    height: 210px;
    background-color: darkslateblue;
}

#h1-juego {
    position: relative;
    top: -400px;
    font-size: 50px;
}

#panelPreguntas-juego {
    position: relative;
    top: -350px;
    width: 100%;
    height: 1200px;
    background-color: white;
}

#pregunta-juego {
    position: relative;
    top: 50px;
    font-size: 50px;
    font-weight: bold;
}

.respuesta-juego {
    position: relative;
    top: 300px;
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    width: 400px;
    height: 100px;
    background: whitesmoke;
    color: black;
}

.ayuda-juego {
    background-color: Navy;
    color: white;
    padding: 50px;
    text-decoration: none;
    margin: 30px;
}

#imagen-juego {
    position: relative;
    top: 300px;
    width: 70%;
    height: 60%;
    background-color: white;
    margin: auto;
}

#contadorPremio {
    /*
    position: relative;
    top: 30px;
    left: 50px;
    */
    font-size: 50px;
    width: 100px;
    height: 50px;
    background-color: snow;
}

#seccion-nivel-juego {
    background-color: red;
}

.ventanaAyuda-juego {
    background: yellow;
    width: 1000px;
    height: 800px;
    color: black;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    min-height: 300px;
    border-radius: 25%;
    position: absolute;
    /*     left: 300px; */
    top: 400px;
}

#cerrar {
    position: relative;
    float: inline-end;
}

.instrucciones {
    background: cornflowerblue;
}

#fondo-instrucciones {
    position: relative;
    top: 745px;
    margin: auto;
    border-left: 300px solid darkslateblue;
    border-right: 700px solid transparent;
    border-bottom: 500px solid darkslateblue;
}

#fondo-instrucciones2 {
    position: relative;
    top: 745px;
    width: 1080px;
    height: 852px;
    background-color: darkslateblue;
    margin: auto;
}

#panel-instrucciones {
    position: relative;
    top: -900px;
    width: 1000px;
    height: 1300px;
    background-color: white;
}

#h1-instrucciones {
    position: relative;
    top: 200px;
    font-size: 50px;
}

#p-instrucciones {
    position: relative;
    top: 100px;
    font-size: 50px;
}

#jugar-instrucciones {
    position: relative;
    top: -700px;
    left: 400px;
    font-size: 50px;
    padding: 10px;
    background-color: white;
}

.creditos {
    background: whitesmoke;
}

#h1-creditos {
    position: relative;
    top: 450px;
    padding-bottom: 450px;
    font-size: 50px;
}

#imagen-creditos {
    position: relative;
    top: -202px;
    left: -141px;
    width: 500px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 100%;
}

#imagen-creditos2 {
    position: relative;
    top: 59px;
    left: -141px;
    width: 500px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 100%;
}

#fondo-creditos {
    position: relative;
    top: 745px;
    left: -400px;
    height: 600px;
    width: 1400px;
    border-radius: 50% / 0 0 100% 100%;
    background-color: rgb(110, 1, 212);
    transform: rotate(-90deg);
}

#Diseñadora-creditos {
    font-size: 70px;
    position: relative;
    top: -200px;
    left: 300px;
}

#Ingeniero-creditos {
    font-size: 70px;
    position: relative;
    top: -1140px;
    left: 300px;
}

.botonVolver {
    background-color: Navy;
    color: white;
    padding: 50px;
    text-decoration: none;
    float: right;
}

.volver {
    margin-left: -300px;
    line-height: 50px;
}

.oculto {
    display: none;
}

a {
    text-decoration: none;
}