* {
    margin: 0;
}

html {
    font-family: helvetica, sans-serif;
}

section {
    width: 360px;
    height: 720px;
    text-align: center;
}

.splash {
    background: white;
}

#fondo1-splash {
    position: absolute;
    top: 420px;
    left: 60px;
    width: 300px;
    height: 300px;
    background-color: rgb(1, 114, 192);
    border-radius: 100% 100% 0% 100%;
}

#fondo2-splash {
    position: relative;
    top: 168px;
    left: -124px;
    height: 255px;
    width: 504px;
    border-radius: 50% / 0 0 100% 100%;
    background: rgb(37, 43, 137);
    transform: rotate(-90deg);
}

.home {
    background: white;
}

#fondo1-home {
    background-color: white;
    height: 30%;
    width: 360px;
}

#fondo2-home {
    position: absolute;
    top: 115px;
    left: 345px;
    background-color: rgb(101, 54, 184);
    height: 100px;
    width: 15px;
}

#fondo3-home {
    position: absolute;
    top: 100px;
    left: 345px;
    width: 15px;
    height: 15px;
    background: rgb(101, 54, 184);
    border-radius: 70% 0% 0% 0%;
}

#fondo4-home {
    position: absolute;
    top: 192px;
    left: 320px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 16px 8px 0 rgb(101, 54, 184);
    transform: rotate(10deg);
}

#h1-home {
    position: absolute;
    top: 90px;
    left: 7px;
    text-align: center;
}

#imagen-home {
    width: 360px;
    height: 70%;
    background-color: rgb(101, 54, 184);
    margin: auto;
    border-top-left-radius: 8%;
}

.botones-home {
    color: black;
    padding: 1em;
    background-color: white;
    border-radius: 5%;
    font-weight: bold;
    width: 125px;
    cursor: pointer;
}

#instrucciones-home {
    position: relative;
    top: 140px;
}

#jugar-home {
    position: relative;
    top: 200px;
}

#creditos-home {
    position: relative;
    top: 260px;
}

.juego {
    background: rgb(133, 172, 231);
}

#fondo-juego {
    position: absolute;
    top: 420px;
    border-left: 200px solid rgb(94, 108, 173);
    border-right: 160px solid transparent;
    border-bottom: 200px solid rgb(94, 108, 173);
}

#fondo-juego2 {
    position: absolute;
    top: 620px;
    width: 360px;
    height: 100px;
    background-color: rgb(94, 108, 173);
}

#h1-juego {
    position: relative;
    top: 85px;
    left: 20px;
}

#panelPreguntas-juego {
    position: relative;
    top: 100px;
    width: 360px;
    height: 360px;
    background-color: white;
    border-radius: 7%;
}

#panelfondo-juego {
    position: absolute;
    top: 69px;
    left: 0px;
    width: 149px;
    height: 76px;
    border-radius: 50%;
    box-shadow: -14px 25px 0 white;
    transform: rotate(-354deg);
}

#contenedor-pregunta-juego {
    position: relative;
    text-align: center;
    padding: 20px;
    width: 320px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#pregunta-juego {
    font-weight: bold;
    font-size: 18px;
}

.respuesta-juego {
    margin: 1px;
    width: 175px;
    height: 74px;
    background: none;
    border: outset;
    color: black;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.ayuda-juego {
    /*     background-color: Navy;
    color: white; */
    padding: 15px;
    text-decoration: none;
    margin: 20px;
}

.imagen-ayuda-juego {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.imagen-solucion {
    background-image: url("../img/Grupo\ 167.png");
    background-size: cover;
    background-position: center;
}

.imagen-publico {
    background-image: url("../img/Grupo\ 168.png");
    background-size: cover;
    background-position: center;
}

.imagen-50 {
    background-image: url("../img/Grupo\ 166.png");
    background-size: cover;
    background-position: center;
}

#imagen-juego {
    position: relative;
    top: 300px;
    width: 70%;
    height: 60%;
    background-color: white;
    margin: auto;
}

#contadorPremio {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 18px;
    border-radius: 20%;
    background-color: snow;
}

#seccion-nivel-juego {
    background-color: white;
}

#contenedor-nivelActual {
    position: absolute;
    top: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 360px;
    height: 720px;
}

#nivelActual {
    position: relative;
    z-index: 3;
    color: white;
    margin: auto;
    padding: 50px 100px;
    background-color: rgb(154, 151, 220);
}

#nivelf1 {
    position: absolute;
    top: 420px;
    left: 60px;
    width: 300px;
    height: 300px;
    background-color: rgb(1, 114, 192);
    border-radius: 100% 100% 0% 100%;
}

#nivelf2 {
    position: relative;
    top: 168px;
    left: -124px;
    height: 255px;
    width: 504px;
    border-radius: 50% / 0 0 100% 100%;
    background: rgb(37, 43, 137);
    transform: rotate(-90deg);
}

#salida-nivel {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 305px;
    cursor: pointer;
}

.ventanaAyuda-juego {
    position: absolute;
    top: 0px;
    background: white;
    width: 340px;
    height: 700px;
    color: black;
    text-align: center;
    padding: 10px;
}

#fondo-ventanaAyuda {
    position: relative;
    top: 255px;
    left: -213px;
    height: 226px;
    width: 612px;
    border-radius: 50% / 0 0 100% 100%;
    background-color: rgb(157, 93, 216);
    transform: rotate(-90deg);
}

#cerrarVentanaEmergente {
    cursor: pointer;
}

#panel-ayuda {
    position: relative;
    top: 100px;
    width: 310px;
    height: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.imagen-ayuda {
    position: absolute;
    top: 115px;
    left: 100px;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
}

#imagenAyuda {
    background-size: cover;
    background-position: center;
}

#cerrar {
    position: relative;
    top: 230px;
}

.instrucciones {
    background: rgb(133, 172, 231);
}

#h1-instrucciones {
    position: relative;
    top: 80px;
    left: 20px;
}

#fondo-instrucciones {
    position: relative;
    top: 150px;
    margin: auto;
    border-left: 0px solid rgb(96, 106, 175);
    border-right: 360px solid transparent;
    border-bottom: 250px solid rgb(96, 106, 175);
}

#fondo-instrucciones2 {
    position: relative;
    top: 150px;
    width: 360px;
    height: 293px;
    background-color: rgb(96, 106, 175);
    margin: auto;
}

#panel-instrucciones {
    position: absolute;
    top: 192px;
    width: 335px;
    height: 409px;
    background-color: white;
    border-radius: 0% 10% 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panelfondo-instrucciones {
    position: absolute;
    top: 127px;
    left: 0px;
    width: 149px;
    height: 76px;
    border-radius: 50%;
    box-shadow: -14px 25px 0 white;
    transform: rotate(-354deg);
}

#p-instrucciones {
    position: relative;
    /* top: 100px; */
    /* text-align: left; */
    margin: 20px;
    font-size: 1.2em;
    line-height: 200%;
}

#jugar-instrucciones {
    position: relative;
    top: 85px;
    left: 124px;
    padding: .5em 1em;
    border-radius: 5%;
    background-color: white;
    color: black;
    cursor: pointer;
}

.creditos {
    background: white;
}

#h1-creditos {
    position: relative;
    top: 450px;
    padding-bottom: 450px;
    font-size: 50px;
}

#fondo-creditos {
    position: relative;
    top: 250px;
    left: -170px;
    height: 180px;
    width: 520px;
    border-radius: 50% / 0 0 100% 100%;
    background-color: rgb(110, 1, 212);
    transform: rotate(-90deg);
}

.circulos-creditos {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 100%;
}

#imagen-creditos {
    position: absolute;
    top: 70px;
    left: 290px;
    background-image: url(../img/diseñadora.jpeg);
    background-size: cover;
    background-position: center;
    transform: rotate(90deg);
}

#imagen-creditos2 {
    position: absolute;
    top: 70px;
    left: 53px;
    background-image: url(../img/ingeniero.jpeg);
    background-size: cover;
    background-position: center;
    transform: rotate(90deg);
}

.contenedor-creditos {
    position: relative;
    top: 29px;
    left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
}

#Designer-creditos {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
}

#Ingeniero-creditos {
    position: absolute;
    top: 200px;
    /* left: 60px; */
    font-weight: bold;
}

.botonVolver {
    /*     background-color: Navy; */
    color: white;
    padding: 15px;
    text-decoration: none;
    float: right;
    cursor: pointer;
}

.imagen-volver {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.volver {
    margin-left: -300px;
    line-height: 50px;
}

.oculto {
    display: none;
}

a {
    text-decoration: none;
}